.container
    .row
        .page-header(style="width: 100%")
            ul.nav.nav-pills.mb-3.float-left.mt-3.mr-3
                li.nav-item(role="presentation")
                    a.nav-link(href="/admin/movie/list") Movie Management
                li.nav-item.ml-2(role="presentation")
                    a.nav-link(href="/admin/category/list") Category Management
                 