.container
    .row
        .page-header(style="width: 100%")
            .clearfix
                    
                ul.nav.nav-pills.mb-3.float-left.mt-3.mr-3
                    li.nav-item(role="presentation")
                        a.nav-link(href="/") Home
                    li.nav-item.ml-2(role="presentation")
                        a.nav-link(href="/admin/movie/list") admin
                h2.float-left.mt-3.mb-2 #{title} 
                    small - I love movie

                if user
                    ul.nav.nav-pills.mt-4.float-right
                        li.nav-item 欢迎您，#{user.name} &emsp;
                        li.nav-item
                            a(href="/logout") 登出
                else
                    ul.nav.nav-pills.mt-3.float-right
                        li.nav-item
                            a.nav-link(href="#", data-toggle="modal", data-target="#signup_modal") 注册
                        li.nav-item
                            a.nav-link(href="#", data-toggle="modal", data-target="#login_modal") 登录


hr
#signup_modal.modal.fade
    .modal-dialog
        .modal-content
            form(method="post", action="/user/signup")
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(type="text", name="user[name]")
                    .form-group
                        label(for="signupPassword") 密&emsp;码
                        input#signupPassword.form-control(type="text", name="user[password]")
                .modal-footer
                    button.btn.btn-light(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交

#login_modal.modal.fade
    .modal-dialog
        .modal-content
            form(method="post", action="/user/login")
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for="loginName") 用户名
                        input#loginName.form-control(type="text", name="user[name]")
                    .form-group
                        label(for="loginPassword") 密&emsp;码
                        input#loginPassword.form-control(type="text", name="user[password]")
                .modal-footer
                    button.btn.btn-light(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交

