extends ../layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 名字
                        th 创建时间
                        th 查看
                        th 更新
                        th 删除
                tbody
                    each item in users
                        tr(class="item-id-#{item._id}")
                            td #{item.name}
                            td #{moment(item.meta.createAt).format('YYYY-MM-DD')}
                            td
                                a(targe="_blank", href="") 查看
                            td
                                a(targe="_blank", href="") 修改
                            td
                                button.btn.btn-primary.del(type="button", data-id="#{item._id}") 删除
    //- script(src="/js/admin.js")